<div class="panel panel-primary">
    <div class="panel-heading">
        <h4  style="text-align:center;" class="panel-title">What would you like to do?</h4>
    </div>
    <div class="panel-body">
        <table  style="margin:auto; width:90%;">
            <tr>
                <td class="actionSelectCell">
                    <form id="actionSelector" class="top-form">
                        <table>
                            <tr>
                                <td><button class="buttonCell" id="open-addClientbtn">Add Client</button>
                                <td><button class="buttonCell" id="open-viewClientbtn">View / Edit Clients</button>
                            </tr>
                            <tr>
                                <td><button class="buttonCell" id="open-addDogbtn">Add Dog</button>
                                <td><button class="buttonCell" id="open-viewDogbtn">View / Edit Dogs</button>
                            </tr>
                            <tr>
                                <td><button class="buttonCell" id="open-addPlanbtn">Add Plan</button>
                                <td><button class="buttonCell" id="open-viewPlanbtn">View / Edit Plans</button>
                            </tr>
                            <tr>
                                <td><button class="buttonCell" id="open-addPackagebtn">Add Package</button>
                                <td><button class="buttonCell" id="open-viewPackagebtn">View / Edit Packages</button>
                            </tr>
                            <tr>
                                <td><button class="buttonCell" id="open-addSessionbtn">Add Session</button>
                                <td><button class="buttonCell" id="open-viewSessionbtn">View / Edit Sessions</button>
                            </tr>
                            <tr>
                                <td><button class="buttonCell" id="open-addPlanPackagebtn">Add Plans to Packages</button>
                                <td><button class="buttonCell" id="open-removePlanPackagebtn">Remove Plans from Packages</button>
                            </tr>
                        </table>
                    </form>
                </td>
                <td class="viewManageCell">
                    <div id="viewManageClient" class="hideable">
                        <div class="panel-heading">
                            <h3>View / Manage Clients</h3>
                        </div>
                        <div class="panel-body">
                            <form class="mainform" method="post">
                                <button id="client-view-all-btn"> View All </button>
                                <hr>
                                <p>Search by Name</p>
                                <p><label>Name: </label> <input type="text" id="client-search-name"></p>
                                <button id="client-search-name-btn">Search</button>
                            </form>
                        </div>
                    </div>
                    <div id="viewManageDog" class="hideable">
                        <div class="panel-heading">
                            <h3>View / Edit Dogs</h3>
                        </div>
                        <div class="panel-body">
                            <form class="mainform" method="post">
                                <button id="dog-view-all-btn"> View All </button>
                                <hr>
                                <p>Search by Name</p>
                                <p><label>Name: </label> <input type="text" id="dog-search-name"></p>
                                <button id="dog-search-name-btn">Search</button>
                            </form>
                        </div>
                    </div>
                    <div id="viewManagePlan" class="hideable">
                        <div class="panel-heading">
                            <h3>View / Edit Plans</h3>
                        </div>
                        <div class="panel-body">
                            <form class="mainform" method="post">
                                <button id="plan-view-all-btn"> View All </button>
                                <hr>
                                <p>Search by Name</p>
                                <p><label>Name: </label> <input type="text" id="plan-search-name"></p>
                                <button id="plan-search-name-btn">Search</button>
                            </form>
                        </div>
                    </div>
                    <div id="viewManagePackage" class="hideable">
                        <div class="panel-heading">
                            <h3>View / Manage Packages</h3>
                        </div>
                        <div class="panel-body">
                            <form class="mainform" method="post">
                                <button id="package-view-all-btn"> View All </button>
                                <hr>
                                <p>Search by Name</p>
                                <p><label>Name: </label> <input type="text" id="package-search-name"></p>
                                <button id="package-search-name-btn">Search</button>
                                <hr>
                                <p>
                                    <label>View Packages that</label>
                                <p>
                                    <button id="empty-packages-btn">Have no Plans</button>
                                    <button id="non-empty-packages-btn">Have Plans</button>
                                </p>
                                </p>
                            </form>
                        </div>
                    </div>
                    <div id="viewManageSession" class="hideable">
                        <div class="panel-heading">
                            <h3>View / Manage Sessions</h3>
                        </div>
                        <div class="panel-body">
                            <form class="mainform" method="post">
                                <button id="session-view-all-btn"> View All </button>
                                <hr>
                                <fieldset>
                                    <h4>By Client</h4>
                                    <select class="sessionClient">

                                    </select>
                                    <br>
                                    <button id="session-filter-client-btn">Filter</button>
                                </fieldset>
                            </form>

                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>



<div id="addClientModal" class="modal fade">
    <div class="modal-content panel panel-primary">
        <div class="panel-heading">Add Client</div>
        <div class="panel-body">
            <form class="mainform" method="post" id="#addNewClient">
                <h4>Add New Client</h4>
                <div class="inputBlock">
                    <fieldset> <legend>Name</legend>
                        <span><label>First Name:</label><input type="text" class="fName"></span>
                        <span><label>Last Name:</label><input type="text" class="lName"></span>
                    </fieldset>
                    <fieldset> <legend>Contact Info</legend>
                        <span><label>Phone:</label><input type="tel" class="phone"></span>
                        <span><label>Email:</label><input type="email" class="email"></span>
                    </fieldset>
                </div>
                <div class="inputBlock">
                    <fieldset> <legend>Address</legend>
                        <span><label>Address:</label><input type="text" class="address"></span>
                        <span><label>City:</label><input type="text" class="city"></span>
                        <span><label>State:</label>
								<select class="state">
									<option value="AL">AL</option>
									<option value="AK">AK</option>
									<option value="AR">AR</option>
									<option value="AZ">AZ</option>
									<option value="CA">CA</option>
									<option value="CO">CO</option>
									<option value="CT">CT</option>
									<option value="DC">DC</option>
									<option value="DE">DE</option>
									<option value="FL">FL</option>
									<option value="GA">GA</option>
									<option value="HI">HI</option>
									<option value="IA">IA</option>
									<option value="ID">ID</option>
									<option value="IL">IL</option>
									<option value="IN">IN</option>
									<option value="KS">KS</option>
									<option value="KY">KY</option>
									<option value="LA">LA</option>
									<option value="MA">MA</option>
									<option value="MD">MD</option>
									<option value="ME">ME</option>
									<option value="MI">MI</option>
									<option value="MN">MN</option>
									<option value="MO">MO</option>
									<option value="MS">MS</option>
									<option value="MT">MT</option>
									<option value="NC">NC</option>
									<option value="NE">NE</option>
									<option value="NH">NH</option>
									<option value="NJ">NJ</option>
									<option value="NM">NM</option>
									<option value="NV">NV</option>
									<option value="NY">NY</option>
									<option value="ND">ND</option>
									<option value="OH">OH</option>
									<option value="OK">OK</option>
									<option value="OR">OR</option>
									<option value="PA">PA</option>
									<option value="RI">RI</option>
									<option value="SC">SC</option>
									<option value="SD">SD</option>
									<option value="TN">TN</option>
									<option value="TX">TX</option>
									<option value="UT">UT</option>
									<option value="VT">VT</option>
									<option value="VA">VA</option>
									<option value="WA">WA</option>
									<option value="WI">WI</option>
									<option value="WV">WV</option>
									<option value="WY">WY</option>
								</select>
							</span>
                        <span><label>Zip:</label><input type="text" class="zip"></span>
                    </fieldset>
                </div>
                <span><button class="btn btn-default" id="addClientbtn"> Add Client</button></span>
                <span><button class="btn btn-default" id="close-addClientbtn"> Close </button></span>
            </form>
        </div>
    </div>
</div>

<div id="editClientModal" class="modal fade">
    <div class=" modal-content panel panel-primary">
        <div class="panel-heading">View . Edit Client</div>
        <div class="panel-body">
            <form class="mainform" method="post">
                <div class="inputBlock">
                    <input type="hidden" class="idClient">
                    <fieldset> <legend>Name</legend>
                        <span><label>First Name:</label><input type="text" class="fName"></span>
                        <span><label>Last Name:</label><input type="text" class="lName"></span>
                    </fieldset>
                    <fieldset> <legend>Contact Info</legend>
                        <span><label>Phone:</label><input type="tel" class="phone"></span>
                        <span><label>Email:</label><input type="email" class="email"></span>
                    </fieldset>
                </div>
                <div class="inputBlock">
                    <fieldset> <legend>Address</legend>
                        <span><label>Address:</label><input type="text" class="address"></span>
                        <span><label>City:</label><input type="text" class="city"></span>
                        <span><label>State:</label>
								<select class="state">
									<option value="AL">AL</option>
									<option value="AK">AK</option>
									<option value="AR">AR</option>
									<option value="AZ">AZ</option>
									<option value="CA">CA</option>
									<option value="CO">CO</option>
									<option value="CT">CT</option>
									<option value="DC">DC</option>
									<option value="DE">DE</option>
									<option value="FL">FL</option>
									<option value="GA">GA</option>
									<option value="HI">HI</option>
									<option value="IA">IA</option>
									<option value="ID">ID</option>
									<option value="IL">IL</option>
									<option value="IN">IN</option>
									<option value="KS">KS</option>
									<option value="KY">KY</option>
									<option value="LA">LA</option>
									<option value="MA">MA</option>
									<option value="MD">MD</option>
									<option value="ME">ME</option>
									<option value="MI">MI</option>
									<option value="MN">MN</option>
									<option value="MO">MO</option>
									<option value="MS">MS</option>
									<option value="MT">MT</option>
									<option value="NC">NC</option>
									<option value="NE">NE</option>
									<option value="NH">NH</option>
									<option value="NJ">NJ</option>
									<option value="NM">NM</option>
									<option value="NV">NV</option>
									<option value="NY">NY</option>
									<option value="ND">ND</option>
									<option value="OH">OH</option>
									<option value="OK">OK</option>
									<option value="OR">OR</option>
									<option value="PA">PA</option>
									<option value="RI">RI</option>
									<option value="SC">SC</option>
									<option value="SD">SD</option>
									<option value="TN">TN</option>
									<option value="TX">TX</option>
									<option value="UT">UT</option>
									<option value="VT">VT</option>
									<option value="VA">VA</option>
									<option value="WA">WA</option>
									<option value="WI">WI</option>
									<option value="WV">WV</option>
									<option value="WY">WY</option>
								</select>
							</span>
                        <span><label>Zip:</label><input type="text" class="zip"></span>
                    </fieldset>
                </div>
                <span><button class="btn btn-default" id="deleteClientbtn"> Delete Client</button></span>
                <span><button class="btn btn-default" id="editClientbtn"> Edit Client</button></span>
                <span><button class="btn btn-default" id="close-editClientForm"> Close </button></span>
            </form>
        </div>
    </div>
</div>

<div id="addDogModal" class="modal fade">
    <div class=" modal-content panel panel-primary">
        <div class="panel-heading">Add Dog</div>
        <div class="panel-body">
            <form class="mainform" method="post" id="addNewDog">
                <h4>Add New Dog</h4>
                <div class="inputBlock">
                    <fieldset> <legend>New Pupper</legend>
                        <span><label>Name: </label><input type="text" class="dogName"></span>
                        <span><label>Breed: </label><input type="text" class="dogBreed"></span>
                    </fieldset>
                    <fieldset><legend>Owner</legend>
                        <label>Select: </label>
                        <select class="dogOwners">

                        </select>
                    </fieldset>
                </div>
                <span><button class="btn btn-default" id="addDogbtn"> Add Dog</button></span>
                <span><button class="btn btn-default" id="close-addDogbtn"> Close </button></span>
            </form>
        </div>
    </div>
</div>

<div id="editDogModal" class="modal fade">
    <div class=" modal-content panel panel-primary">
        <div class="panel-heading">View / Edit Dog</div>
        <div class="panel-body">
            <form class="mainform" method="post" class="editDogForm">
                <div class="inputBlock">
                    <input type="hidden" class = "idDog">
                    <span><label>Name: </label><input type="text" class="dogName"></span>
                    <span><label>Breed: </label><input type="text" class="dogBreed"></span>
                    <input type="hidden" class = "idClient">
                    <label>Owned by:</label><span class="currentOwner"></span>
                    <p>
                    <hr>
                    New Owner:
                    <select class="ownedById">
                        <option value = ""> </option>
                    </select>
                    </p>
                </div>
                <div>
                    <span><button class="btn btn-default" id="deleteDogbtn"> Delete Dog</button></span>
                    <span><button class="btn btn-default" id="editDogbtn"> Update Dog</button></span>
                    <span><button class="btn btn-default" id="close-editDogForm"> Close </button></span>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="addPlanModal" class="modal fade">
    <div class=" modal-content panel panel-primary">
        <div class="panel-heading">Add Plan</div>
        <div class="panel-body">
            <form class="mainform" method="post" id="addNewPlan">
                <h4>Add New Plan</h4>
                <div class="inputBlock">
                    <fieldset> <legend>New Plan</legend>
                        <p><label>Plan Name: </label><input type="text" class="planName"></p>
                        <span><label>Description: </label><textarea style="width: 80%; height: 75px;" class="planDesc"></textarea></span>
                    </fieldset>
                </div>
                <span><button class="btn btn-default" id="addPlanbtn"> Add Plan</button></span>
                <span><button class="btn btn-default" id="close-addPlanbtn"> Close </button></span>
            </form>
        </div>
    </div>
</div>

<div id="editPlanModal" class="modal fade">
    <div class=" modal-content panel panel-primary">
        <div class="panel-heading">Add Plan</div>
        <div class="panel-body">
            <form class="mainform" method="post" id="editPlanForm">
                <div class="inputBlock">
                    <input type="hidden" class="idPlan">
                    <fieldset>
                        <p><label>Plan Name: </label><input type="text" class="planName"></p>
                        <span><label>Description: </label><textarea style="width: 80%; height: 75px;" class="planDesc"></textarea></span>
                    </fieldset>
                </div>
                <span><button class="btn btn-default" id="deletePlanbtn"> Delete Plan</button></span>
                <span><button class="btn btn-default" id="editPlanbtn"> Add Plan</button></span>
                <span><button class="btn btn-default" id="close-editPlanForm"> Close </button></span>
            </form>
        </div>
    </div>
</div>

<div id="addPackageModal" class="modal fade">
    <div class=" modal-content panel panel-primary">
        <div class="panel-heading">Add Plan</div>
        <div class="panel-body">
            <form class="mainform" method="post" id="addNewPackage">
                <h4>Add New Package</h4>
                <div class="inputBlock">
                    <fieldset> <legend>New Package</legend>
                        <p><label>Package Name: </label><input type="text" class="packageName"></p>
                        <span><label>Cost ($): </label><input type="number" class="packageCost" step="0.01"></span>
                        <p><label>Number of sessions: </label><input type="number" class="numSessions"step="1"></p>
                    </fieldset>
                </div>
                <span><button class="btn btn-default" id="addPackagebtn"> Add Package</button></span>
                <span><button class="btn btn-default" id="close-addPackagebtn"> Close </button></span>
            </form>
        </div>
    </div>
</div>

<div id="editPackageModal" class="modal fade">
    <div class=" modal-content panel panel-primary">
        <div class="panel-heading">View / Edit Package</div>
        <div class="panel-body">
            <form class="mainform" method="post" id="editPackageForm">
                <div class="inputBlock">
                    <input type="hidden" id="idPackage">
                    <fieldset>
                        <p><label>Package Name: </label><input type="text" class="packageName"></p>
                        <span><label>Cost ($): </label><input type="number" class="packageCost" step="0.01"></span>
                        <p><label>Number of sessions: </label><input type="number" class="numSessions"step="1"></p>
                    </fieldset>
                    <fieldset>
                        <legend>Included Plans:</legend>
                        <table class="includedPlans">

                        </table>
                    </fieldset>
                </div>
                <span><button class="btn btn-default" id="deletePackagebtn"> Delete Package</button></span>
                <span><button class="btn btn-default" id="editPackagebtn"> Update Package</button></span>
                <span><button class="btn btn-default" id="close-editPackageForm"> Close </button></span>
            </form>
        </div>
    </div>
</div>

<div id="addSessionModal" class="modal fade">
    <div class=" modal-content panel panel-primary">
        <div class="panel-heading"><h4>Add New Session</h4></div>
        <div class="panel-body">
            <form class="mainform" method="post" id="addNewSession">

                <div class="inputBlock">
                    <fieldset><legend>Select Client</legend>
                        <label>Select: </label>
                        <select class="sessionClient">
                            <option value = ""> </option>
                        </select>
                    </fieldset>
                    <fieldset><legend>Select Dog</legend>
                        <label>Select: </label>
                        <select class="sessionDog">
                            <option value = ""> </option>
                        </select>
                    </fieldset>
                    <fieldset class="newSess"> <legend>New Session</legend>
                        <p><label>Date: </label><input type="date" class="sessionDate"></p>
                        <span><label>Length (hours): </label><input type="number" class="sessionLength" step="0.5"></span>
                        <p>
                            <label>Plan taught: </label>
                            <select class="sessionPlan">
                                <option value = ""> N/A </option>

                            </select>
                        </p>
                    </fieldset>
                </div>
                <span><button class="btn btn-default" id="addSessionbtn"> Add Session</button></span>
                <span><button class="btn btn-default" id="close-addSessionbtn"> Close </button></span>
            </form>
        </div>
    </div>
</div>

<div id="editSessionModal" class="modal fade">
    <div class=" modal-content panel panel-primary">
        <div class="panel-heading">View / Edit Session</div>
        <div class="panel-body">
            <form class="mainform" method="post" id="editSessionForm">
                <div class="inputBlock">
                    <input type="hidden" id="idSession">
                    <fieldset><legend>Client</legend>
                        <label>Current Client: </label> <span class="currentClient"></span>
                        <hr>
                        <label>Select New client: </label>
                        <select class="sessionClient">
                            <option value = ""> N/A </option>

                        </select>
                    </fieldset>
                    <fieldset><legend>Dog</legend>
                        <label>Current Dog: </label> <span class="currentDog"></span>
                        <label>Select: </label>
                        <select class="sessionDog">
                            <option value = ""> N/A </option>

                        </select>
                    </fieldset>
                    <fieldset class="newSess"> <legend>Session Info</legend>
                        <p><label>Date: </label><input type="date" class="sessionDate"></p>
                        <span><label>Length (hours): </label><input type="number" class="sessionLength" step="0.5"></span>
                        <p>
                            <label>Current Plan taught: </label>
                            <p><span class="currentPlan"></span></p>
                            <br>
                            <label>Description: </label>
                            <p class="currentDescription"></p>
                        </p>
                        <hr>
                        <label>New Plan:</label>
                        <select class="sessionPlan">
                            <option value = ""> N/A </option>

                        </select>
                    </fieldset>
                </div>
                <span><button class="btn btn-default" id="deleteSessionbtn"> Delete Session</button></span>
                <span><button class="btn btn-default" id="editSessionbtn"> Update Session</button></span>
                <span><button class="btn btn-default" id="close-editSessionForm"> Close </button></span>
            </form>
        </div>
    </div>
</div>

<div id="addPlanPackageModal" class="modal fade">
    <div class=" modal-content panel panel-primary">
        <div class="panel-heading">Add Plan to Packages</div>
        <div class="panel-body">
            <form class="mainform" method="post" id="addPlanPackage">
                <div class="inputBlock">
                    <fieldset><legend>Select parent Package:</legend>
                        <label>Package: </label>
                        <select class="linkPackage">

                        </select>
                    </fieldset>
                    <fieldset><legend>Select the Plan to add:</legend>
                        <label>Plan: </label>
                        <select class="linkPlan">

                        </select>
                    </fieldset>
                </div>
                <span><button class="btn btn-default" id="addPlanPackage-btn"> Add </button></span>
                <span><button class="btn btn-default" id="close-addPlanPackagebtn"> Close </button></span>
            </form>
        </div>
    </div>
</div>

<div id="removePlanPackageModal" class="modal fade">
    <div class=" modal-content panel panel-primary">
        <div class="panel-heading">Remove Plan from Packages</div>
        <div class="panel-body">
            <form class="mainform" method="post" id="removePlanPackage">
                <div class="inputBlock">
                    <fieldset><legend>Select parent Package:</legend>
                        <label>Package: </label>
                        <select class="linkPackage">

                        </select>
                    </fieldset>
                    <fieldset><legend>Select the Plan to remove:</legend>
                        <label>Plan: </label>
                        <select class="linkPlan">

                        </select>
                    </fieldset>
                </div>
                <span><button class="btn btn-default" id="removePlanPackage-btn"> Remove </button></span>
                <span><button class="btn btn-default" id="close-removePlanPackagebtn"> Close </button></span>
            </form>
        </div>
    </div>
</div>

<div id="searchResultDiv" class="panel panel-default panel-heading hideable">
    <h3>Search Results</h3>
    <div class="panel panel-default panel-body">
        <table id="searchResultTable">

        </table>
    </div>
</div>

<div id="successModal" class="modal">
    <div class="modal-content success-content">
        <div class="alert alert-success"> <span>Success: </span>Your request has been completed.</div>
    </div>
</div>

<div id="errorModal" class="modal">
    <div class="modal-content error-content">
        <div class="alert alert-error"> <span>Error: </span>Something went wrong!</div>
    </div>
</div>
<script src="scripts/modernizr.js"></script>
<script src="scripts/script.js"></script>


